// _setting.scss

// @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

$primary:#333;
$main:#f06;
$deepGray:#575757;
$lightGray:#cfcfcf;
$white:#fff;
$point:#ff0;
$font:$deepGray;
$fontFamily:'nanum gothic', sans-serif;
$url:"../img/";