@charset "utf-8";
/* base.css */

.hidden{width: 0; height: 0;  overflow: hidden;  display: block; }
.hidden_wrap a{width: 100%; height: 100%; display: block; background-repeat: no-repeat;}
.hidden_wrap a>span{width: 0; height: 0; display: block; overflow: hidden;}

.clearfix:after{content:" "; display: block; clear: both;}
#wrap .last_margin{margin-right: 0; border-right:0;}