@charset "utf-8";
/* common.css */

.clearfix:after{content:" "; display: block; 
  width: 100%; clear: both;}
.hidden{font-size: 0; color:transparent;}
#wrap .last_margin{margin-right: 0;}
/*.last_margin{margin-right: 0 !important;}*/