/* respon_02.css */


#wrap{width: 100%; height: auto;}
#wrap::after{content:" "; display: block; clear: both;}
#headBox{width: 100%; height: 15.625rem;/* 250px / 16 */ background-color: #fa0;}
#addBanner{background-color: #ada;}
#content{width: 100%; height: 43.75rem;/*700px/16 */  background-color: #f05;}
#etcBox{display: none;}
#footBox{width: 100%; height: 12.5rem;/* 200px/ 16 */ background-color: #777;}

/* mobile */
@media screen and (max-width:599px) {/* min-width: 280 */
  #wrap{min-width:17.5px;}
  #addBanner{display: none; }
  #content{height:250vw;/* 700 / 280 * 100 */ }
}

/* tablet */
@media screen and (min-width:600px) and (max-width:1023px) {

  #headBox{height:150px;}
  #addBanner{width: 100%; height: 400px;}
  #content{height:600px;}
}

/* pc */
@media screen and (min-width:1024px) {
  #headBox{height: 150px; float:left;}
  #addBanner{width: 40%; height: 450px; float:left;}
  #content{width: 60%; height: 450px; float:left;}
  #etcBox{width: 100%; height: 300px; background-color: #acf; float:left;}
  #footBox{float: left;}
}








/**/
