@charset "utf-8";
/* reset.css */

html,body{height:100%; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,p,pre,dl,dt,dd,table{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none; color:#555;}
table{border-spacing:0; border-collapse:collapse;}