@charset "utf-8";
/* simentic_01_base.css */

#wrap {width:100%; height: auto;}

  #headBox {width:960px; height: 150px; background-color: #afc; 
    margin: 0 auto; padding:20px; padding-top:30px;
    box-sizing:border-box;}
  h1{width: 100px; height: 100px; background-color: #ccc;
  float:left;}
  h1>a{width: 100%; height: 100%; display: block;
  text-indent:-9999px;
}


  #gnb{width: 600px; height: 50px; float: right; margin-top:50px;}
  #gnb>ul{width: 100%; height: 100%;
    padding-top:15px; box-sizing: border-box;}
  #gnb>ul>li{height:20px; padding:0 10px; 
    float: left; border-right:2px solid #999;
    font-size:1.5em; line-height:20px;}
  #gnb>ul>li>a{padding:0 30px;}

#addBox {width:100%; height: 450px; background-color: #fac;}

#contentArea{width: 960px; height: auto; 
  margin: 0 auto;}

  #sideBox {width: 20%; height: 650px; background-color: #ccc; float:left;}
  #contentBox {width: 80%; height: 650px; background-color: #aa7; float:left;}

#footBox {width:960px; height: 70px; background-color: #555; margin: 0 auto;}