$n :#acc, #01f, #0ac, #f82;

h1{color:nth($n, 1)} 

/* ----------------------------------------------------- */
 $list:#acc, #01f, #0ac, #f82;
 $list-on:#10d,#100,#017,#100;
 $list-box:0 5px, -75px 5px, -139px 5px, -210px 5px;



@for $i from 1 through length($list){
 li:nth-child(#{$i}){background-color:nth($list, $i);}
 li:nth-child(#{$i}):hover{background-color:nth($list-on, $i);}
 li:nth-child(#{$i}):hover>a{background-color:nth($list-box, $i);}
}


$map:(ame:#a73, latte:#ca9, mocca:#952, gtea:#af0);
$nth:#afc,#bfc, #cfc, #dfc, #ffc;

@each $maps, $bg in $map{ 
  .coffee-#{$maps}{color:$bg}
}


/* ----------------------------------------------------- */



// @mixin list($on, $hover:false, $img:false){
//   @each $color in $list{
//     $i: index($list, $color);
//     #{$on}:nth-child(#{$i}){background-color:$color;}
//   }
//   @if $hover == true{
//   @each $color in $list-on{ 
//     $i: index($list-on, $color);
//     #{$on}:nth-child(#{$i}):hover{background-color:$color;}
//     }
//   }
//   @if $img == true{
//   @each $position in $list-box{ 
//     $i: index($list-box, $position);
//     #{$on}:nth-child(#{$i}):hover>a{background-position:#{$position};}
//     }
//   }
// }
  
// @include list(li, true, true);
// // @include list(li);

// #box{@include list('>li', treu);}

