@charset "utf-8";
/* gcass_main.css */

body{background-color: #adadad;}
#wrap{width: 980px; height:auto; margin:0 auto;}

/* #headBox ---------------------------------------------- */
#headBox {width: 100%; height: 30px; background-color: #888 ;}

/* #container ---------------------------------------------- */
#container {width: 100%; height:auto; background-color: #fa0;}
#container:after{content:" "; display: block; clear: both;}
 #sideBox {width: 250px; height: 710px; float: left; background-color: #777;}
 #content {width: 730px; height: 710px; float: right; background-color: #ccc;}

/* #footBox ---------------------------------------------- */
#footBox {width: 100%; height: 110px; background-color: #fff;}