@charset "utf-8";
/* gcass_sub_01.css */

#wrap{width: 980px; height: auto; margin: 0 auto;}
/* #headBox ------------------------ */
#headBox {width: 100%; height: 30px; background-color: #888;}
#headBox>ul{width:520px; height:inherit; float: right;}
#headBox>ul>li{width:90px; height: inherit; float: left;}
#headBox>ul>li:last-child{width:250px;}
#headBox>ul>li>a{background-image: url("../../img/gcass/sub/top_nav.jpg");
  transition:all 0.3s ease;}
 
  .gnb_01>a{background-position:-460px top;}
  .gnb_02>a{background-position:-550px top;}
  .gnb_03>a{background-position:-640px top;}
  .gnb_04>a{background-position:right top;}
  .gnb_01>a:hover{background-position:-460px bottom;}
  .gnb_02>a:hover{background-position:-550px bottom;}
  .gnb_03>a:hover{background-position:-640px bottom;}
  .gnb_04>a:hover{background-position:right bottom;}


/* #container ------------------------ */
#container {width: 100%; height: auto; background-image: url("../../img/gcass/sub/bg01_patt.jpg");}
  #sideBox {width: 240px; height:auto; min-height:710px; float:left;
  background-color: transparent; transition:all 0.3s; padding:54px 42px 0 43px; box-sizing: border-box;}
/*  #sideBox:hover {background-color: #777;}*/
  #sideBox a{background-image: url("../../img/gcass/sub/side_btn.png");}
  h1{width:100%; height:104px; margin-bottom: 42px;}
  
  #lnb{width: 100%; height:auto;}
  #lnb>ul{width: 100%; height:auto;}
  #lnb>ul>li{width: 100%; height:37px; margin-bottom:25px;}

  #lnb>ul>li:nth-child(5){margin-bottom:9px;}
  #lnb>ul>li:nth-child(6){margin-bottom:0; height:111px;}  

  #lnb>ul>li:nth-child(1)>a{background-position:0 -145px;}
  #lnb>ul>li:nth-child(2)>a{background-position:0 -207px;}
  #lnb>ul>li:nth-child(3)>a{background-position:0 -269px;}
  #lnb>ul>li:nth-child(4)>a{background-position:0 -331px;}
  #lnb>ul>li:nth-child(5)>a{background-position:0 -393px;}
  #lnb>ul>li:nth-child(6)>a{background-position:0 bottom;} 

  #lnb>ul>li:nth-child(1)>a:hover{background-position:right -145px;}
  #lnb>ul>li:nth-child(2)>a:hover{background-position:right -207px;}
  #lnb>ul>li:nth-child(3)>a:hover{background-position:right -269px;}
  #lnb>ul>li:nth-child(4)>a:hover{background-position:right -331px;}
  #lnb>ul>li:nth-child(5)>a:hover{background-position:right -393px;}
  #lnb>ul>li:nth-child(6)>a:hover{background-position:right bottom;}


  #content{width:730px; height:auto;float:left;}
/* #footBox ------------------------ */

#footBox{width: 100%; height: 130px; background-color: #fff;  padding:12px 43px; box-sizing: border-box;}
#footBox>h2 {width:85px; height: 60px; float: left; margin-right:18px;
  background-image: url("../../img/gcass/sub/foot_image.png"); background-repeat: no-repeat;}

.info_link {width: 72px; height: 60px; float: left; padding-right:29px; border-right: 1px solid #777;
  margin-right:40px;}
 .info_link a {width:100%; height:18px; margin-bottom: 2px; 
   background-image: url("../../img/gcass/sub/foot_image.png");}
 .info_link a:nth-of-type(1){background-position:right top;}
 .info_link a:nth-of-type(2){background-position:right center;}
 .info_link a:nth-of-type(3){margin-bottom: 0; background-position:right bottom;}

address {width: 360px; height: auto; font-size: 0.85em; font-style: normal; letter-spacing:-0.025em; float: left;}
address p {line-height: 1.5;}
address span {width: 0; height: 0; font-size: 0; display:inline-block; position: relative;}
strong {font-weight: normal; }
address span:before{position: absolute; font-size:0.8rem; z-index: 100; bottom:-7px; right:0; color:#000;}
address p:nth-of-type(1)>span:before {content:"ADD_"; }
address p:nth-of-type(2)>span:nth-of-type(1):before {content:"TEL_"; }
address p:nth-of-type(2)>span:nth-of-type(2){padding-left: 100px;}
address p:nth-of-type(2)>span:nth-of-type(2):before {content:"FAX_";}

.gcass_family {width: 278px; height: 140px; float: right;  margin-top: -55px;}
.gcass_family ul {width:100%; height:140px;}
.gcass_family ul >li{width: 100%; height: 33.333%; background-color: #777;
  line-height:50px; color:#fff; text-align:right;}
.gcass_family a{position: relative;}
.gcass_family a:before{ position: relative; position: absolute; top: 0; left:10px; color:#fff; letter-spacing: -.025em;}
.foot_nav_01 a:before{content:"http://greenart.co.kr"; }
.foot_nav_01 a {width: 205px; float: right; background-color:#fc0;}
.foot_nav_01 a:hover {background-color:#777;}
.foot_nav_02 a:before{content:"http://cafe.naver.com/graba"; }
.foot_nav_02 a {width: 205px; float: right; background-color:#fc0;}
.foot_nav_02 a:hover {background-color:#777;}
.foot_nav_03 a:before{content:"https://webportfolio.github.io";}
.foot_nav_03 a {width: 205px; float: right; background-color:#999;}
.foot_nav_03 a:hover {background-color:#777;}
.gcass_family p {width: 100%; height:20px; font-size: 0.8em; letter-spacing:-.025em; text-align: right; margin-top: 4px;}




