@charset "utf-8";
/* gcass_sub_01.css */

#wrap{width: 980px; height: auto; margin: 0 auto;}
/* #headBox ------------------------ */
#headBox {width: 100%; height: 30px; background-color: #888;}
#headBox>ul{width:520px; height:inherit; float: right;}
#headBox>ul>li{width:90px; height: inherit; float: left;}
#headBox>ul>li:last-child{width:250px;}
#headBox>ul>li>a{background-image: url("../../img/gcass/sub/top_nav.jpg");
  transition:all 0.3s ease;}
 
  .gnb_01>a{background-position:-460px top;}
  .gnb_02>a{background-position:-550px top;}
  .gnb_03>a{background-position:-640px top;}
  .gnb_04>a{background-position:right top;}
  .gnb_01>a:hover{background-position:-460px bottom;}
  .gnb_02>a:hover{background-position:-550px bottom;}
  .gnb_03>a:hover{background-position:-640px bottom;}
  .gnb_04>a:hover{background-position:right bottom;}


/* #container ------------------------ */
#container {width: 100%; height: auto; background-image: url("../../img/gcass/sub/bg01_patt.jpg");}
  #sideBox {width: 240px; height:auto; min-height:710px; float:left;
  background-color: transparent; transition:all 0.3s; 
  padding:54px 42px 0 43px; box-sizing: border-box;}
  #sideBox a{background-image: url("../../img/gcass/sub/side_btn.png");}
  h1{width:100%; height:104px; margin-bottom: 42px;}
/*  h1>a:hover{background-position: right 0;}*/
  
  #lnb{width: 100%; height:auto;}
  #lnb>ul{width: 100%; height:auto;}
  #lnb>ul>li{width: 100%; height:37px; margin-bottom:25px;}

  #lnb>ul>li:nth-child(5){margin-bottom:9px;}
  #lnb>ul>li:nth-child(6){margin-bottom:0; height:111px;}  

  #lnb>ul>li:nth-child(1)>a{background-position:0 -145px;}
  #lnb>ul>li:nth-child(2)>a{background-position:0 -207px;}
  #lnb>ul>li:nth-child(3)>a{background-position:0 -269px;}
  #lnb>ul>li:nth-child(4)>a{background-position:0 -331px;}
  #lnb>ul>li:nth-child(5)>a{background-position:0 -393px;}
  #lnb>ul>li:nth-child(6)>a{background-position:0 bottom;} 

  #lnb>ul>li:nth-child(1)>a:hover{background-position:right -145px;}
  #lnb>ul>li:nth-child(2)>a:hover{background-position:right -207px;}
  #lnb>ul>li:nth-child(3)>a:hover{background-position:right -269px;}
  #lnb>ul>li:nth-child(4)>a:hover{background-position:right -331px;}
  #lnb>ul>li:nth-child(5)>a:hover{background-position:right -393px;}
  #lnb>ul>li:nth-child(6)>a:hover{background-position:right bottom;}







  #sideBox:hover {background-color: #777;}
  #content {width:730px; height:auto; min-height:710px; float:left;}
/* #footBox ------------------------ */
#footBox {width: 100%; height: 130px; background-color: #afa;}




