@charset "utf-8";
/* gcass_main.css */

body{background-color: #adadad;}
#wrap{width: 980px; height:auto; margin:0 auto;}

/* #headBox ---------------------------------------------- */
#headBox {width: 100%; height: 30px; background-color: #888; position:relative;}
#headBox:before{content:" "; display:block; width:50vw; height:100%; position:absolute; top:0; right:50%; background-color:#888; z-index:-100;} 
#headBox:after{content:" "; display:block; width:50vw; height:100%; position:absolute; top:0;
left:50%; background-color:#fff30d; z-index:-100;} 
#headBox>ul{width: 435px; height: 100%; float: right;}
#headBox>ul>li{height: 100%; float: left;}
    .gnb_01, .gnb_02{width:95px;}
    .gnb_03{width:245px;}
#headBox>ul>li>a{width: 100%; height: 100%; 
  display: block; background-repeat: no-repeat; background-position: center; transition:all 0.5s;}
    .gnb_01>a{background-image:url("../../img/gcass/header/home.png");}
    .gnb_02>a{background-image:url("../../img/gcass/header/study.png");}
    .gnb_03>a{background-image:url("../../img/gcass/header/edu.png");}
    .gnb_01>a:hover{background-image:url("../../img/gcass/header/home_on.png");}
    .gnb_02>a:hover{background-image:url("../../img/gcass/header/study_on.png");}
    .gnb_03>a:hover{background-image:url("../../img/gcass/header/edu_on.png");}

/* #container ---------------------------------------------- */
#container {width: 100%; height:auto; background-color: #fa0;}
  /* --- #sideBox  --- */
  #sideBox {width: 250px; height: 710px; float: left; background-color: #777;
  padding:56px 53px 0 43px; box-sizing: border-box;}
  #sideBox a{background-image: url("../../img/gcass/aside/aside.png"); 
    transition:all 0.2s ease-in;}
  #sideBox a:hover{background-image: url("../../img/gcass/aside/aside_on.png");}
  #sideBox a:focus{background-image: url("../../img/gcass/aside/aside_on.png");
    outline:2px solid #fa0; position:relative; z-index: 100;}
  h1{width: 100%; height: 104px; margin-bottom:42px;}
  h1>a{background-position: 0 0; transition: all 0.5s;}

  #lnb{width: 100%; height:auto;}
  #lnb>ul{width: 100%; height:auto;}
  #lnb>ul>li{width: 100%; height:37px; margin-bottom:25px;}
  #lnb>ul>li.lnb_05{margin-bottom:9px;}
  #lnb>ul>li.lnb_06{height:111px; margin-bottom:0;}
    .lnb_01>a{background-position:0 -145px;}
    .lnb_02>a{background-position:0 -207px;}
    .lnb_03>a{background-position:0 -269px;}
    .lnb_04>a{background-position:0 -331px;}
    .lnb_05>a{background-position:0 -393px;}
    .lnb_06>a{background-position:0 bottom;}
  /* --- #content --- */
 #content {width: 730px; height: 710px; float: right; position: relative;
   background-color: #ccc; background-image:url("../../img/gcass/content/add_banner_text.png");
   background-repeat:no-repeat; background-position:80% 50px;  }
.pattern{width:100%; height:50px; background-image:url("../../img/gcass/content/pattern_bg.png");}
.com{width: 327px; height: 520px; background-image:url("../../img/gcass/content/pc_img.png");
  background-repeat:no-repeat; background-position:center; 
  position: absolute;  top:50px; left:50px; z-index:100; transition:left 0.3s linear;}
.com > a{background-image:none; background-repeat: repeat; background-position:center;}
/*.com:hover > a{background-image:url("../../img/gcass/content/pattern_bg.png");}*/
.com:hover{left:100px;}


/* #footBox ---------------------------------------------- */
#footBox {width: 100%; height: 110px; background-color: #fff;
  border-top:1px solid #777; padding:10px 43px; box-sizing: border-box;}

h2 {width:80px; height:54px; float:left; margin-right:27px; 
  background-image:url("../../img/gcass/footer/gcass_h2.png");
  background-repeat: no-repeat; background-position:0 0;}

.info_link {width:90px; height:auto; float:left; margin-right:20px; margin-top: 7px;}
  .info_link a{width: 100%; height:20px; display: block; text-align: center;}
  .info_link a:hover{text-decoration: none;}

  .info_link a:nth-of-type(1){margin-bottom: 4px; position: relative;}
  .info_link a:nth-of-type(1)::after{content:" "; width:0; transition:all 0.3s; 
      display: block; position: absolute; bottom: 0; left:50%;
      border-bottom:2px solid #f03;}
  .info_link a:nth-of-type(1):hover::after{width: 100%; left:50%; margin-left:-45px;}


  .info_link a:nth-of-type(1):hover{border-bottom-color:#fff30d;}
  .info_link a:nth-of-type(2){background-color: #777; color:#fff; line-height:20px;}
  .info_link a:nth-of-type(2):hover{font-weight: bold;}

address {width:auto; height:34px; margin-top:20px; float:left;}
  address p {font-style: normal; font-size:0.8em; letter-spacing:-0.075em;}
address p:first-of-type::before{content:"address_";}
  address strong {font-weight: normal;}

.gcass_family {width: 300px; height: 150px; float:right; margin-top:-75px;}
  .gcass_family > ul {width: 100%; height: 130px;}
  .gcass_family > ul > li {width: 100%; height: 50%;}
  .gcass_family li>a {background-image: url("../../img/gcass/footer/family_web.png");
    transition:all 0.3s ease-in;}
  .gcass_family li>a:hover {
    background-image: url("../../img/gcass/footer/family_web_on.png");}
  .gcass_family > ul > li:nth-child(1) > a{background-position:0 0;}
  .gcass_family > ul > li:nth-child(2) > a{background-position:0 -65px;}
  .gcass_family > p {width: 100%; margin-top:5px; text-align:right; font-size:.75em;}











