@charset "utf-8";
/* water_01.css */

#waterWrap{width: 960px; height:auto; margin: 0 auto;}
/*#waterWrap > *{width: 100%;}*/
/* #headBox ------------------------------------------------------------------ */
#headBox{width: 100%; height: 90px; background-color:#fa0; 
  padding-top:18px; box-sizing:border-box;}
#headBox>div{width:800px; float: right;}
  h1{width: 100px; height: 60px; background-color: #ccc; float: left;}
  h1>a{width: 100%; height: 100%; display: block; 
    background-image: url("../../img/water/kwater_logo.jpg");
    background-repeat:no-repeat; background-position:right top;
    text-indent:-1000px; overflow: hidden;
}

/*
* background-color:#aaa | rgba(red, green, blue, alpha) | hsla(hue, saturation, light, alhpa);
* background-image:url("image path"), url("more image path");
* background-repeat:repeat | no-repeat | repeat-x | repeat-y;
* background-position:x값 y값 |  x% y% | right top;
* backgroung-attatchment:scroll | fixed;

* overflow:hidden | auto | scroll;
* overflow-x:hidden | auto | scroll;
* overflow-y:hidden | auto | scroll;

*/
  #unb{width: 232px; height: 18px;float: right;}
    #unb>ul{width: 100%; height: 100%; background-color: #fff;}
    #unb>ul>li{float: left; height: 100%;}
    .unb_01{width:43px; background-color:#fa0;}
    .unb_02{width:53px; background-color:#f73;}
    .unb_03{width:60px; background-color:#f35;}
    .unb_04{width:73px; background-color:#fa9;}
    #unb>ul>li>a{height: 100%; display: block; 
      background-repeat:no-repeat; background-position:center;
      text-indent:-9999px; overflow: hidden; float: left;}
    .unb_01>a{width:39px; background-image:url("../../img/water/unb_01.jpg"); }
    .unb_02>a{width:49px; background-image:url("../../img/water/unb_03.jpg"); }
    .unb_03>a{width:56px; background-image:url("../../img/water/unb_04.jpg"); }
    .unb_04>a{width:73px; background-image:url("../../img/water/unb_05.jpg"); }
    
    .vertical{width:4px; height:100%; background-image:url("../../img/water/unb_02.jpg");
      background-repeat: no-repeat; background-position:center; float: right;}

  #gnb{width: 795px; height: 34px; background-color: #aaa; float: right;}
/* #add ------------------------------------------------------------------ */
#add{width: 100%; height:auto;}
  #addBanner{width:inherit; height: 498px; background-color: #afc;}
  #lnb{width: inherit; height: 100px; background-color: #fff;}
/* #content ------------------------------------------------------------------ */
#content{width:100%; height:706px; background-color:#fff; border-bottom:1px solid #e8e8e8;}

/* #footBox ------------------------------------------------------------------ */
#footBox{width: 100%; height: 205px; background-color:#f7f7f7;}




