@charset "utf-8";
/* base.css */

.hidden{font-size:0; color:transparent;
width: 0; height: 0;
  overflow: hidden;
  display: block;
}
.clearfix:after{content:" "; display: block; clear: both;}
#wrap .last_margin{margin-right: 0; border-right:0;}